!!!
= head
%body
  = chromeframe
  %header{:id => 'hd', :role => "banner"}
    = render :partial => 'shared/logo'
    = render :partial => 'shared/navigation'
  %section{:id => 'main', :role => "main"}
    = yield
  = render :partial => 'shared/footer'
= scripts
