%footer{:role => "contentinfo"}
  %ul
    %li
      = link_to 'About', root_path, :title => ''
    %li
      = link_to 'Site Map', root_path, :title => ''
    %li
      = link_to 'Terms of Use', root_path, :title => ''
    %li
      = link_to 'Privacy', root_path, :title => ''
    %li
      = link_to 'Contact', root_path, :title => ''
  %p.copyright &copy; XXX 2013
