%head
  %meta{charset: "utf-8"}
  -# %link{rel: "dns-prefetch", href: "//fonts.googleapis.com"}
  -# %link{rel: "dns-prefetch", href: "//use.typekit.com"}
  %meta{"http-equiv" => "x-ua-compatible", content: "ie=edge"}
  %title= content_for?(:title) ? yield(:title) : "XXX"
  -# alternative title format.
  -# %title= content_for?(:title) ? ("XXX - " + yield(:title)) : "XXX"
  %meta{name: "description", content: "XXX"}
  %meta{name: "keywords", content: ""}
  %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

  = favicon_link_tag '/favicon.ico'
  = favicon_link_tag '/apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png'

  -# For turbolinks add: , "data-turbolinks-track" => true
  = stylesheet_link_tag 'application', media: 'all'
  -# for production customize modernizr at: http://www.modernizr.com/download/
  = javascript_include_tag 'modernizr-2.8.3.min'

  -# Google Web Fonts combination idea. Delete if you do not use.
  %link{href: "http://fonts.googleapis.com/css?family=Droid+Serif", rel: "stylesheet", type: "text/css"}
  %link{href: "http://fonts.googleapis.com/css?family=Droid+Sans", rel: "stylesheet", type: "text/css"}

  -# Typekit script. Delete if you do not use.
  -# %script{src: '//use.typekit.net/XXX.js', type: 'text/javascript'}
  -# :javascript
  -#   try{Typekit.load();}catch(e){}

  = csrf_meta_tag
