!!!
%html.no-js{:lang => "en"}
  = head
  %body
    = browsehappy
    %header{:role => "banner"}
      = render :partial => 'layouts/logo'
      = render :partial => 'layouts/navigation'
    #main{:role => "main"}
      = yield
    = render :partial => 'layouts/footer'
    = scripts
