!!!
%html.no-js{lang: 'en'}
  = head
  %body
    = browsehappy
    %header{role: 'banner'}
      = render 'layouts/logo'
      = render 'layouts/navigation'
    #main{role: 'main'}
      = yield
    = render 'layouts/footer'
    = scripts
